<default-header class="top-header"></default-header>
<div class="wrap no-sidebar">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
    <navbar-utility-mobile></navbar-utility-mobile>
  </div>
  <div class="middle surface-shaded">
    <!-- Middle section -->
    <div class="middle-section">
      <div class="middle-container">
        <div class="middle-content">
          <div class="container surface-shaded gutter-top">
            <div class="col-md-12">
              <!--<h1>New Project</h1>-->
              <h1>新项目</h1>
              <alerts alerts="alerts"></alerts>
              <form name="createProjectForm">
                <fieldset ng-disabled="disableInputs">
                  <div class="form-group">
                    <label for="name" class="required">名称(API定义: Project.Name)</label>
                    <span ng-class="{'has-error': (createProjectForm.name.$error.pattern && createProjectForm.name.$touched) || nameTaken}">
                      <input class="form-control input-lg"
                          name="name"
                          id="name"
                          placeholder="my-project"
                          type="text"
                          required
                          take-focus
                          minlength="2"
                          maxlength="63"
                          pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
                          aria-describedby="nameHelp"
                          ng-model="name"
                          ng-model-options="{ updateOn: 'default blur' }"
                          ng-change="nameTaken = false"
                          autocorrect="off"
                          autocapitalize="off"
                          spellcheck="false">
                    </span>
                    <div>
                      <span class="help-block">项目标识名，符合IETF rfc1035/rfc1123规范，即最多253个小写字母数字，包括减号的DNS_SUBDOMAIN格式.</span>
                    </div>
                    <div class="has-error">
                      <span id="nameHelp" class="help-block" ng-if="createProjectForm.name.$error.pattern && createProjectForm.name.$touched">
                        名称只能使用小写字母, 数字, 和减号. 并且开始和结尾不能使用减号.</span>
                    </div>
                    <div class="has-error">
                      <span class="help-block" ng-if="nameTaken">
                          名称已经被其它项目使用. 请重新输入.</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="displayName">全称(API定义: Project.DisplayName)</label>
                    <input class="form-control input-lg"
                        name="displayName"
                        id="displayName"
                        placeholder="My Project"
                        type="text"
                        ng-model="displayName">
                  </div>

                  <div class="form-group">
                    <label for="description">描述(API定义: Project.Description)</label>
                    <textarea class="form-control input-lg"
                        name="description"
                        id="description"
                        placeholder="A short description."
                        ng-model="description"></textarea>
                  </div>

                  <div class="button-group">
                    <button type="submit"
                        class="btn btn-primary btn-lg"
                        ng-click="createProject()"
                        ng-disabled="createProjectForm.$invalid || nameTaken || disableInputs"
                        value="">创建</button>
                    <a class="btn btn-default btn-lg" href="#" back>取消</a>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div><!-- /middle-content -->
      </div><!-- /middle-container -->
    </div><!-- /middle-section -->
  </div><!-- /middle -->
</div><!-- /wrap -->
